#links ul {
        list-style-type: none;
        width: 500px;
		padding:2px;
} 

#links ul.table {
        list-style-type: none;
        width: 500px;

}

#links li {
        border: 1px #999;
        border-width: 1px 0;
        margin: 0px 0;
		padding: 2px;
		width:500px;
		text-align:left;
}

#links li a { 
        color: #505050;
        display: block;
        font: bold 120% Arial, Helvetica, sans-serif;
        padding: 6px;
        text-decoration: none;
		text-align: right; color:#555;  opacity:1; 
}

 * html #links li a {  /* make hover effect work in IE */
	width: 800px;
}

#links li.clicky { 
        color: #505050;
        display: block;
        font: bold 120% Arial, Helvetica, sans-serif;
        padding: 6px;
        text-decoration: none;
		text-align: left; color:#555;  opacity:1; 
}

#links li a:hover {
        background: #E0E0E0;
		opacity:0.7; 
		color:#fffff; 
		text-decoration:none;
}

#links a em { 
        color: #333;
        display: block;
        font: normal 85% Verdana, Helvetica, sans-serif;
        line-height: 125%; 
}

#links a span {
        color: #125F15;
        font: normal 70% Verdana, Helvetica, sans-serif;
        line-height: 150%;
}

#links img {
		float: left;
		height: 70px;
		width: 70px;
}

/* Form wrapper styling */
#search { height:50px; }
#search .form { height:50px; }
#search_field {
    width: 300px;
    padding: 7px;
    font-size: 20px;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}  

/* CSS Document */

body{background:#fff; color:#555; font:15px/20px Arial, Helvetica, sans-serif; margin:32px 0 0; padding:0;}
div, ul, h1, h2, h3, li, p, img{margin:0; padding:0;}
ul{list-style-type:none;}

/* TOP PANEL*/
#topPanel { position: relative; width:350px; height:60px; margin:0 auto; padding:0;}
#topPanel .headone { position:absolute; text-align:center; top: 20px; left: 3px; font-size:30px; width:325px; font-weight:bold; font:Calibri; color:#555; background:#fff;}
#topPanel .headinc { position:absolute; top: 10px; left: 325px;  font-size:14px; height:20px; width:20px;}

#back-link{width:100%; height:40px; position:center; margin:0 auto; padding:0;}

/* large action buttons */

a.viewnext { float: center; padding: 3px 7px;
  color:#555; width:62px; opacity:1; 
  text-decoration: none; font-size: 1em; text-align: left; }
a.viewnext:hover { background #ffff; opacity:.7; color:#555; text-decoration:none; }

.clearfooter {
	height: 40px;
	clear: both;
}