#links ul {
        list-style-type: none;
        width: 500px;
		padding:2px;
} 

#links ul.table {
        list-style-type: none;
        width: 500px;

}

#links li {
        border: 1px #999;
        border-width: 1px 0;
        margin: 0px 0;
		padding: 2px;
		width:500px;
		text-align:left;
}

#links li a { 
        color: #505050;
        display: block;
        font: bold 120% Arial, Helvetica, sans-serif;
        padding: 6px;
        text-decoration: none;
		text-align: right; color:#555;  opacity:1; 
}

 * html #links li a {  /* make hover effect work in IE */
	width: 800px;
}

#links li a:hover {
        background: #E0E0E0;
		opacity:0.7; 
		color:#fffff; 
		text-decoration:none;
}

#links a em { 
        color: #333;
        display: block;
        font: normal 85% Verdana, Helvetica, sans-serif;
        line-height: 125%; 
}

#links a span {
        color: #125F15;
        font: normal 70% Verdana, Helvetica, sans-serif;
        line-height: 150%;
}

#links img {
		float: left;
		height: 70px;
		width: 70px;
}

/* CSS Document */

body{background:#fff; color:#555; font:15px/20px Arial, Helvetica, sans-serif; margin:32px 0 0; padding:0;}
div, ul, h1, h2, h3, li, p, img{margin:0; padding:0;}
ul{list-style-type:none;}

/* TOP PANEL*/
#topPanel{width:100%; height:80px; position:relative; margin:0 auto; padding:0;}
#topPanel .headone { text-align: center; font-size:30px; font-weight:bold; font:Calibri; color:#555; background:#fff;}

#back-link{width:100%; height:40px; position:center; margin:0 auto; padding:0;}

/* large action buttons */

a.viewnext { float: center; padding: 3px 7px;
  color:#555; width:62px; opacity:1; 
  text-decoration: none; font-size: 1em; text-align: left; }
a.viewnext:hover { background #ffff; opacity:.7; color:#555; text-decoration:none; }

.clearfooter {
	height: 40px;
	clear: both;
}